In [10]:
#pip install pandas-profiling[notebook]

In [11]:
#pip install ruamel-yaml

In [12]:
#pip install MarkupSafe 2.0.0

In [13]:
#pip install cookiecutter

In [14]:
#pip install markupsafe

In [23]:
# Initial imports
import pandas as pd
from pandas_profiling import ProfileReport

In [16]:
file_path = "20_Group_4_Final_Project/Resources/modern_season_stats_clean.csv"
seasons_df = pd.read_csv(file_path)
seasons_df

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,id,AllStar
0,1980,Kareem Abdul-Jabbar,C,32,LAL,82,0,3143,25.3,0.639,...,696,886,371,81,280,297,216,2034,0,1
1,1980,Tom Abernethy,PF,25,GSW,67,0,1222,11.0,0.511,...,129,191,87,35,12,39,118,362,1,0
2,1980,Alvan Adams,C,25,PHO,75,0,2168,19.2,0.571,...,451,609,322,108,55,218,237,1118,2,0
3,1980,Tiny Archibald,PG,31,BOS,80,80,2864,15.3,0.574,...,138,197,671,106,10,242,218,1131,3,1
4,1980,Dennis Awtrey,C,31,CHI,26,0,560,7.4,0.524,...,86,115,40,12,15,27,66,86,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18922,2017,Cody Zeller,PF,24,CHO,62,58,1725,16.7,0.604,...,270,405,99,62,58,65,189,639,18922,0
18923,2017,Tyler Zeller,C,27,BOS,51,5,525,13.0,0.508,...,81,124,42,7,21,20,61,178,18923,0
18924,2017,Stephen Zimmerman,C,20,ORL,19,0,108,7.3,0.346,...,24,35,4,2,5,3,17,23,18924,0
18925,2017,Paul Zipser,SF,22,CHI,44,18,843,6.9,0.503,...,110,125,36,15,16,40,78,240,18925,0
18926,2017,Ivica Zubac,C,19,LAL,38,11,609,17.0,0.547,...,118,159,30,14,33,30,66,284,18926,0

In [24]:
profile_report = ProfileReport(seasons_df)

In [ ]:
#profile_report.to_notebook_iframe()

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

In [19]:
seasons_df.describe()

,Year,Age,G,GS,MP,PER,TS%,3PAr,FTr,ORB%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,id,AllStar
count,18927.000000,18927.000000,18927.000000,18927.000000,18927.000000,18927.000000,18927.000000,18927.000000,18927.000000,18927.000000,...,18927.000000,18927.000000,18927.000000,18927.000000,18927.000000,18927.000000,18927.000000,18927.000000,18927.000000,18927.000000
mean,2000.272415,26.838326,49.639510,22.728272,1162.004649,12.392439,0.501838,0.157867,0.318104,6.152090,...,143.799440,203.935066,110.585513,38.771332,24.171818,72.570613,108.281027,486.034184,9463.000000,0.050457
std,10.691977,3.999546,26.693379,28.450221,924.026516,6.202780,0.099555,0.187369,0.230988,4.958219,...,142.096106,202.431683,137.328298,37.829930,36.471577,66.602288,80.910264,479.419028,5463.898608,0.218892
min,1980.000000,18.000000,1.000000,0.000000,0.000000,-90.600000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1992.000000,24.000000,26.000000,0.000000,313.000000,9.700000,0.472000,0.005000,0.196000,2.500000,...,32.000000,46.000000,17.000000,9.000000,3.000000,17.000000,35.000000,94.000000,4731.500000,0.000000
50%,2001.000000,26.000000,55.000000,7.000000,985.000000,12.700000,0.516000,0.063000,0.286000,5.300000,...,104.000000,145.000000,61.000000,28.000000,11.000000,54.000000,99.000000,338.000000,9463.000000,0.000000
75%,2010.000000,30.000000,75.000000,43.000000,1894.000000,15.600000,0.551000,0.286000,0.394000,9.000000,...,209.000000,295.000000,151.000000,58.000000,29.000000,110.000000,170.000000,750.000000,14194.500000,0.000000
max,2017.000000,44.000000,85.000000,83.000000,3533.000000,129.100000,1.136000,1.000000,6.000000,100.000000,...,1007.000000,1530.000000,1164.000000,301.000000,456.000000,464.000000,386.000000,3041.000000,18926.000000,1.000000

In [20]:
file_path2 = "20_Group_4_Final_Project/Resources/per_game_stats_clean.csv"
per_game_df = pd.read_csv(file_path2)
per_game_df

,Year,Player,Pos,MP(Game),Points(Game),Assists(Game),Rebounds(Game),Steals(Game),Blocks(Game),Turnover(Game),id
0,1980,Kareem Abdul-Jabbar,C,38.3,24.8,4.5,10.8,1.0,3.4,3.6,0
1,1980,Tom Abernethy,PF,18.2,5.4,1.3,2.9,0.5,0.2,0.6,1
2,1980,Alvan Adams,C,28.9,14.9,4.3,8.1,1.4,0.7,2.9,2
3,1980,Tiny Archibald,PG,35.8,14.1,8.4,2.5,1.3,0.1,3.0,3
4,1980,Dennis Awtrey,C,21.5,3.3,1.5,4.4,0.5,0.6,1.0,4
...,...,...,...,...,...,...,...,...,...,...,...
18922,2017,Cody Zeller,PF,27.8,10.3,1.6,6.5,1.0,0.9,1.0,18922
18923,2017,Tyler Zeller,C,10.3,3.5,0.8,2.4,0.1,0.4,0.4,18923
18924,2017,Stephen Zimmerman,C,5.7,1.2,0.2,1.8,0.1,0.3,0.2,18924
18925,2017,Paul Zipser,SF,19.2,5.5,0.8,2.8,0.3,0.4,0.9,18925
18926,2017,Ivica Zubac,C,16.0,7.5,0.8,4.2,0.4,0.9,0.8,18926

In [21]:
per_game_df.describe()

,Year,MP(Game),Points(Game),Assists(Game),Rebounds(Game),Steals(Game),Blocks(Game),Turnover(Game),id
count,18927.000000,18927.000000,18927.000000,18927.000000,18927.000000,18927.000000,18927.000000,18927.000000,18927.000000
mean,2000.272415,19.936778,8.047868,1.848069,3.467327,0.659375,0.405278,1.253183,9463.000000
std,10.691977,10.229125,5.958096,1.849345,2.537720,0.481137,0.510993,0.821842,5463.898608
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1992.000000,11.400000,3.400000,0.600000,1.600000,0.300000,0.100000,0.600000,4731.500000
50%,2001.000000,19.200000,6.500000,1.200000,2.800000,0.600000,0.200000,1.100000,9463.000000
75%,2010.000000,28.400000,11.500000,2.500000,4.700000,0.900000,0.500000,1.700000,14194.500000
max,2017.000000,44.500000,37.100000,14.500000,18.700000,3.700000,6.000000,5.700000,18926.000000