In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.inspection import permutation_importance
import shap
from matplotlib import pyplot as plt
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from pathlib import Path
from collections import Counter
from sklearn.preprocessing import StandardScaler
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.ensemble import RandomForestClassifier
from imblearn.under_sampling import RandomUnderSampler
from sklearn.linear_model import LogisticRegression
from sklearn import tree
from sklearn.svm import SVC
from sqlalchemy import create_engine
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
from sqlalchemy import create_engine, func

In [2]:
plt.rcParams.update({'figure.figsize': (12.0, 8.0)})
plt.rcParams.update({'font.size': 14})

In [3]:
# SQLAlchemy create_engine('postgresql://username:password@host/db_name)
engine = create_engine('postgresql://postgres:Rice!Team04@nba-visualization-project.ctxd45yjwfgs.us-east-2.rds.amazonaws.com/nba-db')

In [4]:
# Automaps the base and reflects the engine in SQLAlchemy from the create_engine def
Base = automap_base()
Base.prepare(engine, reflect=True)

In [5]:

## seasons_df from modern_season_stats table
seasons_df = pd.read_sql('SELECT * FROM modern_season_stats', engine)
## per_game_df  from per_game_stats table
per_game_df = pd.read_sql('SELECT * FROM per_game_stats', engine)

In [6]:
#file_path = "20_Group_4_Final_Project/Resources/modern_season_stats_clean.csv"
#seasons_df = pd.read_csv(file_path)
seasons_df

,Year,Player,Position,Age,Team,G,GS,MP,PER,TS%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,id,AllStar
0,1980.0,Kareem Abdul-Jabbar,C,32,LAL,82,0,3143,25.3,0.639,...,696,886,371,81,280,297,216.0,2034,0,1
1,1980.0,Tom Abernethy,PF,25,GSW,67,0,1222,11.0,0.511,...,129,191,87,35,12,39,118.0,362,1,0
2,1980.0,Alvan Adams,C,25,PHO,75,0,2168,19.2,0.571,...,451,609,322,108,55,218,237.0,1118,2,0
3,1980.0,Tiny Archibald,PG,31,BOS,80,80,2864,15.3,0.574,...,138,197,671,106,10,242,218.0,1131,3,1
4,1980.0,Dennis Awtrey,C,31,CHI,26,0,560,7.4,0.524,...,86,115,40,12,15,27,66.0,86,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18922,2017.0,Cody Zeller,PF,24,CHO,62,58,1725,16.7,0.604,...,270,405,99,62,58,65,189.0,639,18922,0
18923,2017.0,Tyler Zeller,C,27,BOS,51,5,525,13.0,0.508,...,81,124,42,7,21,20,61.0,178,18923,0
18924,2017.0,Stephen Zimmerman,C,20,ORL,19,0,108,7.3,0.346,...,24,35,4,2,5,3,17.0,23,18924,0
18925,2017.0,Paul Zipser,SF,22,CHI,44,18,843,6.9,0.503,...,110,125,36,15,16,40,78.0,240,18925,0
18926,2017.0,Ivica Zubac,C,19,LAL,38,11,609,17.0,0.547,...,118,159,30,14,33,30,66.0,284,18926,0

In [7]:
per_game_df

,Year,Player,Pos,MP(Game),Points(Game),Assists(Game),Rebounds(Game),Steals(Game),Blocks(Game),Turnover(Game),id
0,1980,Kareem Abdul-Jabbar,C,38.3,24.8,4.5,10.8,1.0,3.4,3.6,0
1,1980,Tom Abernethy,PF,18.2,5.4,1.3,2.9,0.5,0.2,0.6,1
2,1980,Alvan Adams,C,28.9,14.9,4.3,8.1,1.4,0.7,2.9,2
3,1980,Tiny Archibald,PG,35.8,14.1,8.4,2.5,1.3,0.1,3.0,3
4,1980,Dennis Awtrey,C,21.5,3.3,1.5,4.4,0.5,0.6,1.0,4
...,...,...,...,...,...,...,...,...,...,...,...
18922,2017,Cody Zeller,PF,27.8,10.3,1.6,6.5,1.0,0.9,1.0,18922
18923,2017,Tyler Zeller,C,10.3,3.5,0.8,2.4,0.1,0.4,0.4,18923
18924,2017,Stephen Zimmerman,C,5.7,1.2,0.2,1.8,0.1,0.3,0.2,18924
18925,2017,Paul Zipser,SF,19.2,5.5,0.8,2.8,0.3,0.4,0.9,18925
18926,2017,Ivica Zubac,C,16.0,7.5,0.8,4.2,0.4,0.9,0.8,18926

In [8]:
master_first_df = pd.merge(seasons_df, per_game_df, how="left", on=["id"])
master_first_df

,Year_x,Player_x,Position,Age,Team,G,GS,MP,PER,TS%,...,Year_y,Player_y,Pos,MP(Game),Points(Game),Assists(Game),Rebounds(Game),Steals(Game),Blocks(Game),Turnover(Game)
0,1980.0,Kareem Abdul-Jabbar,C,32,LAL,82,0,3143,25.3,0.639,...,1980,Kareem Abdul-Jabbar,C,38.3,24.8,4.5,10.8,1.0,3.4,3.6
1,1980.0,Tom Abernethy,PF,25,GSW,67,0,1222,11.0,0.511,...,1980,Tom Abernethy,PF,18.2,5.4,1.3,2.9,0.5,0.2,0.6
2,1980.0,Alvan Adams,C,25,PHO,75,0,2168,19.2,0.571,...,1980,Alvan Adams,C,28.9,14.9,4.3,8.1,1.4,0.7,2.9
3,1980.0,Tiny Archibald,PG,31,BOS,80,80,2864,15.3,0.574,...,1980,Tiny Archibald,PG,35.8,14.1,8.4,2.5,1.3,0.1,3.0
4,1980.0,Dennis Awtrey,C,31,CHI,26,0,560,7.4,0.524,...,1980,Dennis Awtrey,C,21.5,3.3,1.5,4.4,0.5,0.6,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18922,2017.0,Cody Zeller,PF,24,CHO,62,58,1725,16.7,0.604,...,2017,Cody Zeller,PF,27.8,10.3,1.6,6.5,1.0,0.9,1.0
18923,2017.0,Tyler Zeller,C,27,BOS,51,5,525,13.0,0.508,...,2017,Tyler Zeller,C,10.3,3.5,0.8,2.4,0.1,0.4,0.4
18924,2017.0,Stephen Zimmerman,C,20,ORL,19,0,108,7.3,0.346,...,2017,Stephen Zimmerman,C,5.7,1.2,0.2,1.8,0.1,0.3,0.2
18925,2017.0,Paul Zipser,SF,22,CHI,44,18,843,6.9,0.503,...,2017,Paul Zipser,SF,19.2,5.5,0.8,2.8,0.3,0.4,0.9
18926,2017.0,Ivica Zubac,C,19,LAL,38,11,609,17.0,0.547,...,2017,Ivica Zubac,C,16.0,7.5,0.8,4.2,0.4,0.9,0.8

In [9]:
X = master_first_df.copy().drop("AllStar", axis=1)
X

,Year_x,Player_x,Position,Age,Team,G,GS,MP,PER,TS%,...,Year_y,Player_y,Pos,MP(Game),Points(Game),Assists(Game),Rebounds(Game),Steals(Game),Blocks(Game),Turnover(Game)
0,1980.0,Kareem Abdul-Jabbar,C,32,LAL,82,0,3143,25.3,0.639,...,1980,Kareem Abdul-Jabbar,C,38.3,24.8,4.5,10.8,1.0,3.4,3.6
1,1980.0,Tom Abernethy,PF,25,GSW,67,0,1222,11.0,0.511,...,1980,Tom Abernethy,PF,18.2,5.4,1.3,2.9,0.5,0.2,0.6
2,1980.0,Alvan Adams,C,25,PHO,75,0,2168,19.2,0.571,...,1980,Alvan Adams,C,28.9,14.9,4.3,8.1,1.4,0.7,2.9
3,1980.0,Tiny Archibald,PG,31,BOS,80,80,2864,15.3,0.574,...,1980,Tiny Archibald,PG,35.8,14.1,8.4,2.5,1.3,0.1,3.0
4,1980.0,Dennis Awtrey,C,31,CHI,26,0,560,7.4,0.524,...,1980,Dennis Awtrey,C,21.5,3.3,1.5,4.4,0.5,0.6,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18922,2017.0,Cody Zeller,PF,24,CHO,62,58,1725,16.7,0.604,...,2017,Cody Zeller,PF,27.8,10.3,1.6,6.5,1.0,0.9,1.0
18923,2017.0,Tyler Zeller,C,27,BOS,51,5,525,13.0,0.508,...,2017,Tyler Zeller,C,10.3,3.5,0.8,2.4,0.1,0.4,0.4
18924,2017.0,Stephen Zimmerman,C,20,ORL,19,0,108,7.3,0.346,...,2017,Stephen Zimmerman,C,5.7,1.2,0.2,1.8,0.1,0.3,0.2
18925,2017.0,Paul Zipser,SF,22,CHI,44,18,843,6.9,0.503,...,2017,Paul Zipser,SF,19.2,5.5,0.8,2.8,0.3,0.4,0.9
18926,2017.0,Ivica Zubac,C,19,LAL,38,11,609,17.0,0.547,...,2017,Ivica Zubac,C,16.0,7.5,0.8,4.2,0.4,0.9,0.8

In [10]:
y = master_first_df["AllStar"]
y

0        1
1        0
2        0
3        1
4        0
        ..
18922    0
18923    0
18924    0
18925    0
18926    0
Name: AllStar, Length: 18927, dtype: int64

In [11]:
X = X[["Points(Game)", "PTS", "FG", "FT", "FTA", "FGA", "MP(Game)", "VORP", "WS", "2P"]].copy()
X

       Points(Game)   PTS   FG   FT  FTA   FGA  MP(Game)  VORP    WS   2P
0              24.8  2034  835  364  476  1383      38.3   6.8  14.8  835
1               5.4   362  153   56   82   318      18.2   0.1   2.0  153
2              14.9  1118  465  188  236   875      28.9   3.5   7.0  465
3              14.1  1131  383  361  435   794      35.8   1.5   8.9  379
4               3.3    86   27   32   50    60      21.5   0.1   0.6   27
...             ...   ...  ...  ...  ...   ...       ...   ...   ...  ...
18922          10.3   639  253  133  196   443      27.8   1.8   5.6  253
18923           3.5   178   78   22   39   158      10.3  -0.1   1.0   78
18924           1.2    23   10    3    5    31       5.7  -0.1   0.0   10
18925           5.5   240   88   31   40   221      19.2  -0.4   0.5   55
18926           7.5   284  126   32   49   238      16.0  -0.1   1.1  126

[18927 rows x 10 columns]

In [12]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [13]:
ros = RandomUnderSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({0: 719, 1: 719})

In [14]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_resampled)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_resampled)
X_test_scaled = X_scaler.transform(X_test)

In [15]:
# Creating the decision tree classifier instance.
model = SVC(kernel='linear')

In [16]:
# Fitting the model.
SVC_model = model.fit(X_train_scaled, y_resampled)

In [17]:
#USe logistical regression to make predictions
predictions = SVC_model.predict(X_test_scaled)
accuracy_df = pd.DataFrame({"Prediction": predictions, "Actual": y_test})
accuracy_df

       Prediction  Actual
9173            0       0
15407           0       0
17174           0       0
13628           0       0
13398           0       0
...           ...     ...
12130           0       0
15701           0       0
5666            0       0
9469            0       0
151             0       0

[4732 rows x 2 columns]

In [18]:
acc_score = accuracy_score(y_test, predictions)

In [19]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0         4126          370
Actual 1           11          225

In [20]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         4126          370
Actual 1           11          225

Accuracy Score : 0.9194843617920541
Classification Report
              precision    recall  f1-score   support

           0       1.00      0.92      0.96      4496
           1       0.38      0.95      0.54       236

    accuracy                           0.92      4732
   macro avg       0.69      0.94      0.75      4732
weighted avg       0.97      0.92      0.94      4732