In [26]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.inspection import permutation_importance
import shap
from matplotlib import pyplot as plt
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from pathlib import Path
from collections import Counter
from sklearn.preprocessing import StandardScaler
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.ensemble import RandomForestClassifier
from imblearn.under_sampling import RandomUnderSampler
from sklearn.linear_model import LogisticRegression
from sklearn import tree
from sklearn.svm import SVC
from sklearn.ensemble import GradientBoostingClassifier
from sqlalchemy import create_engine
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
from sqlalchemy import create_engine, func

In [27]:
plt.rcParams.update({'figure.figsize': (12.0, 8.0)})
plt.rcParams.update({'font.size': 14})

In [28]:
# SQLAlchemy create_engine('postgresql://username:password@host/db_name)
engine = create_engine('postgresql://postgres:Rice!Team04@nba-visualization-project.ctxd45yjwfgs.us-east-2.rds.amazonaws.com/nba-db')

In [29]:
# Automaps the base and reflects the engine in SQLAlchemy from the create_engine def
Base = automap_base()
Base.prepare(engine, reflect=True)

In [30]:
## seasons_df from modern_season_stats table
seasons_df = pd.read_sql('SELECT * FROM modern_season_stats', engine)

In [31]:
#file_path = "20_Group_4_Final_Project/Resources/modern_season_stats_clean.csv"
#seasons_df = pd.read_csv(file_path)
seasons_df

,Year,Player,Position,Age,Team,G,GS,MP,PER,TS%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,id,AllStar
0,1980.0,Kareem Abdul-Jabbar,C,32,LAL,82,0,3143,25.3,0.639,...,696,886,371,81,280,297,216.0,2034,0,1
1,1980.0,Tom Abernethy,PF,25,GSW,67,0,1222,11.0,0.511,...,129,191,87,35,12,39,118.0,362,1,0
2,1980.0,Alvan Adams,C,25,PHO,75,0,2168,19.2,0.571,...,451,609,322,108,55,218,237.0,1118,2,0
3,1980.0,Tiny Archibald,PG,31,BOS,80,80,2864,15.3,0.574,...,138,197,671,106,10,242,218.0,1131,3,1
4,1980.0,Dennis Awtrey,C,31,CHI,26,0,560,7.4,0.524,...,86,115,40,12,15,27,66.0,86,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18922,2017.0,Cody Zeller,PF,24,CHO,62,58,1725,16.7,0.604,...,270,405,99,62,58,65,189.0,639,18922,0
18923,2017.0,Tyler Zeller,C,27,BOS,51,5,525,13.0,0.508,...,81,124,42,7,21,20,61.0,178,18923,0
18924,2017.0,Stephen Zimmerman,C,20,ORL,19,0,108,7.3,0.346,...,24,35,4,2,5,3,17.0,23,18924,0
18925,2017.0,Paul Zipser,SF,22,CHI,44,18,843,6.9,0.503,...,110,125,36,15,16,40,78.0,240,18925,0
18926,2017.0,Ivica Zubac,C,19,LAL,38,11,609,17.0,0.547,...,118,159,30,14,33,30,66.0,284,18926,0

In [32]:
X_initial = seasons_df.copy().drop("AllStar", axis=1)
X_initial

,Year,Player,Position,Age,Team,G,GS,MP,PER,TS%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,id
0,1980.0,Kareem Abdul-Jabbar,C,32,LAL,82,0,3143,25.3,0.639,...,190,696,886,371,81,280,297,216.0,2034,0
1,1980.0,Tom Abernethy,PF,25,GSW,67,0,1222,11.0,0.511,...,62,129,191,87,35,12,39,118.0,362,1
2,1980.0,Alvan Adams,C,25,PHO,75,0,2168,19.2,0.571,...,158,451,609,322,108,55,218,237.0,1118,2
3,1980.0,Tiny Archibald,PG,31,BOS,80,80,2864,15.3,0.574,...,59,138,197,671,106,10,242,218.0,1131,3
4,1980.0,Dennis Awtrey,C,31,CHI,26,0,560,7.4,0.524,...,29,86,115,40,12,15,27,66.0,86,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18922,2017.0,Cody Zeller,PF,24,CHO,62,58,1725,16.7,0.604,...,135,270,405,99,62,58,65,189.0,639,18922
18923,2017.0,Tyler Zeller,C,27,BOS,51,5,525,13.0,0.508,...,43,81,124,42,7,21,20,61.0,178,18923
18924,2017.0,Stephen Zimmerman,C,20,ORL,19,0,108,7.3,0.346,...,11,24,35,4,2,5,3,17.0,23,18924
18925,2017.0,Paul Zipser,SF,22,CHI,44,18,843,6.9,0.503,...,15,110,125,36,15,16,40,78.0,240,18925
18926,2017.0,Ivica Zubac,C,19,LAL,38,11,609,17.0,0.547,...,41,118,159,30,14,33,30,66.0,284,18926

In [33]:
y = seasons_df["AllStar"]
y

0        1
1        0
2        0
3        1
4        0
        ..
18922    0
18923    0
18924    0
18925    0
18926    0
Name: AllStar, Length: 18927, dtype: int64

In [34]:
X = X_initial[["Age", "TS%", "G", "DRB%", "PER", "GS", "3PAr", "ORB%", "MP", "FTr"]].copy()
X

       Age    TS%   G  DRB%   PER  GS   3PAr  ORB%    MP    FTr
0       32  0.639  82  22.2  25.3   0  0.001   7.2  3143  0.344
1       25  0.511  67  12.0  11.0   0  0.003   5.4  1222  0.258
2       25  0.571  75  22.4  19.2   0  0.002   8.2  2168  0.270
3       31  0.574  80   5.3  15.3  80  0.023   2.3  2864  0.548
4       31  0.524  26  16.9   7.4   0  0.000   6.0   560  0.833
...    ...    ...  ..   ...   ...  ..    ...   ...   ...    ...
18922   24  0.604  62  17.3  16.7  58  0.002   8.6  1725  0.442
18923   27  0.508  51  17.0  13.0   5  0.006   9.2   525  0.247
18924   20  0.346  19  24.9   7.3   0  0.000  10.8   108  0.161
18925   22  0.503  44  14.2   6.9  18  0.448   1.9   843  0.181
18926   19  0.547  38  21.9  17.0  11  0.013   7.1   609  0.206

[18927 rows x 10 columns]

In [35]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [36]:
ros = RandomUnderSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({0: 719, 1: 719})

In [37]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_resampled)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_resampled)
X_test_scaled = X_scaler.transform(X_test)

In [38]:
boost_classifier = GradientBoostingClassifier(n_estimators=20,
   learning_rate=0.5, max_features=5, max_depth=3, random_state=0)

In [39]:
# Fitting the model.
boost = boost_classifier.fit(X_train_scaled, y_resampled)

In [40]:
#USe logistical regression to make predictions
predictions = boost.predict(X_test_scaled)
accuracy_df = pd.DataFrame({"Prediction": predictions, "Actual": y_test})
accuracy_df

       Prediction  Actual
9173            0       0
15407           0       0
17174           0       0
13628           0       0
13398           0       0
...           ...     ...
12130           0       0
15701           0       0
5666            0       0
9469            0       0
151             0       0

[4732 rows x 2 columns]

In [41]:
acc_score = accuracy_score(y_test, predictions)

In [42]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0         4130          366
Actual 1           19          217

In [43]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         4130          366
Actual 1           19          217

Accuracy Score : 0.9186390532544378
Classification Report
              precision    recall  f1-score   support

           0       1.00      0.92      0.96      4496
           1       0.37      0.92      0.53       236

    accuracy                           0.92      4732
   macro avg       0.68      0.92      0.74      4732
weighted avg       0.96      0.92      0.93      4732

In [44]:
#testing other learning rates

In [45]:
learning_rates = [0.05, 0.1, 0.25, 0.5, 0.75, 1]
for learning_rate in learning_rates:
    classifier = GradientBoostingClassifier(n_estimators=20,
    learning_rate=learning_rate,
    max_features=5,
    max_depth=3,
    random_state=0)
    classifier.fit(X_train_scaled, y_resampled)

In [46]:
print("Learning rate: ", learning_rate)
print("Accuracy score (training): {0:.3f}".format(
       classifier.score(
           X_train_scaled,
           y_resampled)))
print("Accuracy score (validation): {0:.3f}".format(
       classifier.score(
           X_test_scaled,
           y_test)))

Learning rate:  1
Accuracy score (training): 0.984
Accuracy score (validation): 0.915

In [47]:
learning_rates = [0.5]
for learning_rate in learning_rates:
    classifier = GradientBoostingClassifier(n_estimators=20,
    learning_rate=learning_rate,
    max_features=5,
    max_depth=3,
    random_state=0)
    classifier.fit(X_train_scaled, y_resampled)

In [48]:
print("Learning rate: ", learning_rate)
print("Accuracy score (training): {0:.3f}".format(
       classifier.score(
           X_train_scaled,
           y_resampled)))
print("Accuracy score (validation): {0:.3f}".format(
       classifier.score(
           X_test_scaled,
           y_test)))

Learning rate:  0.5
Accuracy score (training): 0.961
Accuracy score (validation): 0.919

In [49]:
learning_rates = [0.25]
for learning_rate in learning_rates:
    classifier = GradientBoostingClassifier(n_estimators=20,
    learning_rate=learning_rate,
    max_features=5,
    max_depth=3,
    random_state=0)
    classifier.fit(X_train_scaled, y_resampled)

In [50]:
print("Learning rate: ", learning_rate)
print("Accuracy score (training): {0:.3f}".format(
       classifier.score(
           X_train_scaled,
           y_resampled)))
print("Accuracy score (validation): {0:.3f}".format(
       classifier.score(
           X_test_scaled,
           y_test)))

Learning rate:  0.25
Accuracy score (training): 0.944
Accuracy score (validation): 0.919